html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(../images/puppetmaster.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    
}

.blackbox{
    background-color: black;
    opacity:.4; 
    width: 300px;
}
.texttitle {
    font-size: 40px;
    color:white;
    opacity: 1;
    padding-left:35px;
    padding-top:20px;
}



.myButton {
   margin-left:35px;
   margin-bottom: 35px;
   text-align: center;
   font-size: 20px;
    
}
.timer {
    font-size: 40px;
    color:white;
    padding-left:35px;
    padding-top:20px;

}